@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #030712;
  color: white;
  overflow-x: hidden;
}

.bg-grid {
  background-image:
    linear-gradient(rgba(255,255,255,.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.05) 1px, transparent 1px);
  background-size: 40px 40px;
}